body {
  background: linear-gradient(to bottom, #0093E9, #80D0C7, #FFE29F);
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;

}


h1 {
  text-align: center;
}
.instructions{
  text-align:left;
  width:60%;

}
#compose-btn {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Add a transition for smooth fade-in effect */
}

/* Class to make the button visible */
#compose-btn.visible {
  opacity: 1; /* When the class is added, the opacity changes to 1 */
}
.btn{
    padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.user-message-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; /* Prevent interaction when hidden */
}

.user-message-container.visible {
  opacity: 1;
  pointer-events: auto; /* Allow interaction when visible */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  padding: 20px;

}

button {
  margin-top: 10px;
}

#msg-input {
  width: 300px;
}

body {
  color: rgb(69, 33, 88);
  background-color: rgb(221, 201, 231);
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
}

#msg-input {
  width: 300px;
}

#new-message{
  text-align:center;
  background-color:bisque;
  padding:30px;
  margin:10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#new-message.visible {
  opacity: 1;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards; /* Adjust the duration as needed */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}