body {
  color: rgb(69, 33, 88);
  background-color: rgb(221, 201, 231);
  margin: 0 auto;
}

h1 {
  text-align: center;
}
.instructions{
  text-align:center;
  width:60%;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  padding: 20px;

}

button {
  margin-top: 10px;
}

#msg-input {
  width: 300px;
}

body {
  color: rgb(69, 33, 88);
  background-color: rgb(221, 201, 231);
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
}

#msg-input {
  width: 300px;
}

#new-message{
  text-align:center;
  background-color:bisque;
  padding:30px;
  margin:10px;
}

