@keyframes waveAnimation {
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

body {
  background: linear-gradient( #00455c,  #51aaad,#d6c7a9);
  background-size: 150% 150%;
  animation: waveAnimation 10s ease-in-out infinite;
  min-height: 100vh;
  color: #023040;
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}
a{
  color:#023040
}
p {
  line-height: 1.8;
  /* 1.8 times the font size */
  font-family: great-primer-sc, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  /* Stack the children elements vertically */
  justify-content: center;
  /* Vertically center the elements */
  text-align: center;
  /* Optional: This makes text aligned in the center */
}

h1 {
  color:#d6c7a9;
  text-align: center;
  font-family: great-primer, sans-serif;
  font-style: italic;
  padding-left:30px;
  padding-right:30px;
}
h2{
  color:#023040;
  font-family: great-primer, sans-serif;
  text-align:center;
  padding-top:20px;
  font-size:small;
  position:fixed;
  bottom:10px;

}


/* all button styling */
.btn {
  font-family: great-primer, sans-serif;
  margin: 5px;
  padding: 10px 10px;
  background-color: #00455c;
  color: #d6c7a9;
  width: 100%;
  border: none;
  font-style:italic;

  cursor: pointer;
  font-size: 16px;
}

#narration-container {
  width: 60%;
  margin: 0 auto;
  /* centers it */
  text-align: left;
  /* optional: adjust text alignment */
}


/* Initially hide the button */
#compose-btn {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Show the button with fade-in effect */
#compose-btn.visible {
  opacity: 1;
}

.user-message-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  /* Prevent interaction when hidden */
}

.user-message-container.visible {
  opacity: 1;
  pointer-events: auto;
  /* Allow interaction when visible */
}


.input-container {
  display: flex;
  flex-direction: column;
  /* Stack elements vertically */
  align-items: center;
  /* Center them horizontally */
  justify-content: center;
  /* Optional: Center content vertically within this container */
  margin: 20px auto;
  /* Center the container on the page */
}

/* Textarea (input field) */
#msg-input {

  font-family: seaweed-script-pro, sans-serif;
  font-size: large;
  text-align: center;
  background-color: #ded5c3;
  padding: 30px;
  margin: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
  color:#00455c;
}



h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#new-message {
  font-family: seaweed-script-pro, sans-serif;
  font-size: large;
  text-align: center;
  background-color:#ded5c3;
  padding: 30px;
  margin: 30px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  color:#00455c
}

#new-message.visible {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
  /* Adjust the duration as needed */
}
.end-msg {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  margin-top: 10px;
}

.end-msg.visible {
  opacity: 1;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}